<!DOCTYPE hmtl>
<html>
  <head>
    <title>LOGGING IN</title>
  </head>
  <body>
    
    <center>
      {% set messages = get_flashed_messages() %}
      {% for i in messages %}
      {{i}}
      {% endfor %}
    </center>
    
    <form method="POST" action="/welcome">
      ENTER USERNAME:
      <br>
      <input type="text" name="user">
      <br>
      ENTER PASSWORD:
      <br>
      <input type="password" name="pass">
      <br>
      <input type="submit" value="Submit">
      <br>
    </form>
    
  </body>
</html>
